Documentation
CraftAR-On-Device-IR-SDK_Examples.xcodeproj/project.xcworkspace/xcshareddata
CraftAR-On-Device-IR-SDK_Examples.xcodeproj/project.xcworkspace/xcuserdata
CraftARSDK_Examples/ExternalFrameworks
CraftAR-On-Device-IR-SDK_Examples.xcodeproj/xcuserdata
