Documentation
CraftARSDK_Examples/ExternalFrameworks/CraftARResources.bundle
CraftARSDK_Examples/ExternalFrameworks/SDK_Recognition_Offline.framework
CraftARSDK_Examples.xcodeproj/project.xcworkspace/xcuserdata/luis.xcuserdatad
CraftARSDK_Examples.xcodeproj/xcuserdata/luis.xcuserdatad
